{{migrid_state_directory}}/log/auth.log
{{migrid_state_directory}}/log/cron.log
{{migrid_state_directory}}/log/davs.log
{{migrid_state_directory}}/log/ftps.log
{{migrid_state_directory}}/log/mig.log
{{migrid_state_directory}}/log/openid.log
{{migrid_state_directory}}/log/sftp-subsys.log
{{migrid_state_directory}}/log/transfers.log
{{migrid_state_directory}}/log/sftp.log
{{migrid_state_directory}}/log/cron.out
{{migrid_state_directory}}/log/ftps.out
{{migrid_state_directory}}/log/openid.out
{{migrid_state_directory}}/log/sftp.out
{{migrid_state_directory}}/log/transfers.out
{{migrid_state_directory}}/log/webdavs.out
{
	monthly
	rotate 6
	missingok
	notifempty
	compress
	copytruncate
}