{{migrid_log}}/auth.log
{{migrid_log}}/cron.log
{{migrid_log}}/davs.log
{{migrid_log}}/ftps.log
{{migrid_log}}/mig.log
{{migrid_log}}/openid.log
{{migrid_log}}/sftp-subsys.log
{{migrid_log}}/transfers.log
{{migrid_log}}/sftp.log
{{migrid_log}}/cron.out
{{migrid_log}}/ftps.out
{{migrid_log}}/openid.out
{{migrid_log}}/sftp.out
{{migrid_log}}/transfers.out
{{migrid_log}}/webdavs.out
{{migrid_log}}/notify.log
{{migrid_log}}/notify.out
{{migrid_log}}/gdp.log
{
	monthly
	rotate 6
	missingok
	notifempty
	compress
	copytruncate
}