---
#copy static files into www services
#build containers, setup the rest for deployment
# depends on migrid-baseline, startup-encrypt-state

# ---------------------------------------------------------------
# This should be a seperate build role
# ---------------------------------------------------------------
- name: Run make clean to remove anything already built
  shell:
    cmd: make clean > make-clean.log 2>&1
    chdir: "{{ migrid_root }}"

#fixme: why does the build happen in copy_static_files
- name: Run make to build MiGrid
  shell:
    cmd: make dockerbuild > make.log 2>&1
    chdir: "{{ migrid_root }}"
# ---------------------------------------------------------------


# ---------------------------------------------------------------
# This should be a seperate populate directories role
# ---------------------------------------------------------------
- name: Get infos on container
  community.docker.docker_container_info:
    name: migrid
  register: migrid_container

- name: Check if migrid container exists
  fail:
    msg: MiGrid container already exists, cannot continue!
  when: migrid_container.exists

- name: Running docker-compose up
  community.docker.docker_compose:
    project_src: "{{ migrid_root }}"
    build: false
    recreate: always

- name: pause
  pause:
    seconds: 10

- name: Stopping containers
  community.docker.docker_compose:
    project_src: "{{ migrid_root }}"
    build: false
    state: absent
    stopped: true
# ---------------------------------------------------------------

- name: copy static html files for migrid
  copy:
    src: "{{ migrid_copy_static_files_html_src }}"
    dest: "{{ migrid_state_directory }}/{{ item.dest }}"
    owner: "{{ migrid_user }}"
    group: "{{ migrid_user }}"
  loop: "{{ migrid_static_html_files }}"
  when: migrid_static_html_files is defined

- name: Link static html files in wwwpublic
  file:
    src: "{{ item.file }}-{{ inventory_hostname }}.html"
    dest: "{{ migrid_state_directory }}/wwwpublic/{{ item.dest }}"
    state: link
    force: true
  loop: "{{ migrid_static_html_links }}"
  when: migrid_static_html_links is defined

- name: copy gdp_home/data_categories.json for sif
  copy:
    src: "{{ migrid_copy_static_files_dat_src }}"
    dest: "{{ migrid_state_directory }}/gdp_home/"
    owner: "{{ migrid_user }}"
    group: "{{ migrid_user }}"
  when: migrid_base_type == "sif"

# - name: Copy index.html into wwwpublic
#   copy:
#     src: "{{ migrid_overlay }}/{{ ansible_hostname }}/html/index.html"
#     dest: "{{ migrid_state_directory }}/wwwpublic/"
#     owner: "{{ migrid_user }}"
#     group: "{{ migrid_user }}"
#
- name: Copy dhparams.pem into certs/
  copy:
    src: "{{ migrid_root }}/httpd/MiG-certificates/dhparams.pem"
    dest: "{{ migrid_certs }}"
    owner: "{{ migrid_user }}"
    group: "{{ migrid_user }}"
    remote_src: true

- name: Copy pdf files
  copy:
    src: "{{ migrid_copy_static_files_pdf_src }}"
    dest: "{{ migrid_state_directory }}/wwwpublic/"
    owner: "{{ migrid_user }}"
    group: "{{ migrid_user }}"
  loop: "{{ migrid_pdf_files }}"
  when: migrid_pdf_files is defined
